<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>{{#link-to "application"}}JS Blog{{/link-to}}</h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <li>{{#link-to "new-post"}}New Post+{{/link-to}}</li>
</nav>


<div class="row">
  {{outlet}}
</div>
