
<div class="row">
  <h1>Create a new Post</h1>
  <p>
  Title
  {{input value=title}}
  </p>

  <div class="half-box left">{{textarea value=body}}</div>
  <div class="half-box right">
    {{{bodyAsMarkdown}}}
  </div>
</div>

<div class="row">
  <button {{action 'create'}}>Create</button>
</div>

